<div id="filtro">
    <h2>Tus solicitudes</h2>
    <input type="button" value="NUEVA SOLICITUD">
    <h3>Filtra tus Solicitudes</h3>
    <div id="contenedorFiltro">
        <h3>Nombre solicitud</h3>
        <input type="search">
        <h3>Nombre solicitud</h3>
        <select id="compania">
            <option disabled selected>Selecciona</option>
            <option id="opcion2"></option>
            <option id="opcion3"></option>
        </select>
        <h3>Selecciona el rango de fechas</h3>
        <input type="date">
    </div>
</div>

<div id="solicitudes">
    <h2># Solicitudes</h2>
    <div id="solicitud">

    </div>
</div>

<div id="detalleFiltro">
    <h3>Nombre solicitud</h3>
        <input type="search">
        <h3>Nombre solicitud</h3>
        <select id="compania">
            <option disabled selected>Selecciona</option>
            <option id="opcion2"></option>
            <option id="opcion3"></option>
        </select>
        <h3>Selecciona el rango de fechas</h3>
        <input type="date">
</div>