
#barra {
    background: #0052FF;
}

#barra li {
    display: inline;
}
#navegacion li{
    display: inline;
}

.li a {
    font-size: medium;
    padding: 100px;
    float: left;
    text-decoration: none;
}